body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedorPrincipal {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.tituloPagina {
  margin-bottom: 20px;
}

.contenedorTabla {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#miTabla {
  margin-top: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-height: 100vh;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 100px;
}

.h2 {
  text-align: center;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.crud-buttons__button {
  margin-right: 5px;
}

.update-button {
  display: none;
}

.edit-mode__input {
  border: 1px solid #ddd;
  padding: 4px;
}

.filtrosContainer {
  position: absolute;
  top: 20px;
  right: 200px;
}

.filtrosContainer__label,
.filtrosContainer__input,
.filtrosContainer__button {
  margin: 5px;
}

.contenedorPaginado{
  order: 1;
  flex: 1;
  padding: 10px;
}

.contenedorPaginado__paginacion {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contenedorPaginado__paginaActual {
  margin-bottom: 10px;
}
